* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    transition: all .3s ease-in-out;
}



.white {
  background-color: rgb(232, 235, 238);
  transition: all 0.3s ease;
}

.black {
  background: rgb(23, 22, 22);
  transition: all 0.3s ease;
}
