* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    transition: all .3s ease-in-out;
}



.white {
  background-color: rgb(232, 235, 238);
  transition: all 0.3s ease;
}

.black {
  background: rgb(23, 22, 22);
  transition: all 0.3s ease;
}

body::-webkit-scrollbar{
  width: 0;
}

body::-webkit-scrollbar-thumb{
  background-color: rgb(2, 0, 13);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover{
  background-color: rgb(2, 0, 13);
}
